.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.ChartWrapper, .TrendingHistory {
  width: 80%;
  margin-bottom: 20px;
}

.CurrentlyTrending {
  margin-bottom: 20px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto; /* Center table */
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #04AA6D;
  color: white;
}
